* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: snow;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.header,
.hero,
.footer {
  background-color: #1f2937;
  font-size: 18px;
  color: #efe7eb;
}

/* let's start with header */
.header {
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #efe7eb;
}

/* all major sections */
section {
  display: flex;
  padding: 48px;
  gap: 32px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* section 1: hero section */
h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 16px;
}

.hero img {
  width: 400px;
  height: 220px;
  object-fit: cover;
  /* flex: 0 1 auto; */
}

button {
  color: #efe7eb;
  background-color: #3882f6;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  font-size: inherit;
  font-weight: bold;
  margin-top: 8px;
}

/* section 2: information section */
.info {
  /* all sections are flex */
  flex-direction: column;
  gap: 48px;
}

.info-items {
  display: flex;
  gap: 24px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 180px;
}

.info .info-items .info-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  flex-basis: auto;
  border-radius: 20px;
  border: 5px solid #3882f6;
}
/* repositioning images for proper fit */
.info .info-items .info-item img#item2 {
  object-position: right;
}
.info .info-items .info-item img#item4 {
  object-position: bottom;
}

.info .info-items .info-item p {
  text-align: center;
  max-width: fit-content;
}

/* section 3: quote*/
.quote {
    flex-direction: column;
    gap: 8px;
    padding: inherit auto;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    align-content: center;
    align-items: normal;
}
.quote #author {
    font-size: 24px;
    text-align: right;
    font-weight: 600;
    padding: 0 16px 0 0;
}

/* section 4: sign-up now */
.contact {
    padding: 24px 32px;
    align-items: normal;
    padding: inherit;
}

.contact .signUpBox {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    padding: 32px 48px;
    /* margin: 48px 96px; */
    color: #efe7eb;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    max-width: 60%;
    margin: 48px;
    flex-grow: 1;
}

.contact .signUpBox h3 {
    font-size: 24px;
    color: #f9faf8;
}

.contact .signUpBox button {
    border: 2px solid;
    color: #f9faf8;
}

/* footer */
.footer {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}